.chat-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {
    /* max-width: 80%; */
    word-wrap: break-word;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #F4F4F4;
    color: black;
    padding: 4px 10px;
    border-radius: 8px;
    max-width: 80%;
   white-space: pre-line;
   margin-top: 20px;
  }
  .user-message p {
    margin: 0;
  }

  .bot-message {
    align-self: flex-start;
    color: black;
    white-space: pre-line;   
  }
  
  .bot-text {
    background-color: transparent;
    padding: 10px;
  }
  
  .code-block {
    position: relative;
    background-color: #282c34;
    border-radius: 8px;
    padding: 10px;
    overflow-x: auto;
    color: #ffffff;
  }
  
  .code-block pre {
    margin: 0;
  }
  
  .copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .question-buttons {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 80%, #0000);
    background:
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
    background-size: calc(100% / 3) 40%;
    animation: l3 1s infinite linear;
    margin: 10px 0;
  }
  
  @keyframes l3 {
    20% { background-position: 0% 0%, 50% 50%, 100% 50% }
    40% { background-position: 0% 100%, 50% 0%, 100% 50% }
    60% { background-position: 0% 50%, 50% 100%, 100% 0% }
    80% { background-position: 0% 50%, 50% 50%, 100% 100% }
  }
  
  
  